/*
 * @Author: zoucong 
 * @Date: 2017-07-06 10:51:11 
 * @Last Modified by:   zoucong 
 * @Last Modified time: 2017-07-06 10:51:11 
 */
 
.tree-component-ul{
  list-style: none;
  margin: 0;
  line-height: 1.5;
  padding-left: 20px;
}
